<div class="form-auth d-flex align-items-center justify-content-center">

  <div class="container">
    <div class="row">
      <!-- <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i> -->
      <form class="col s12" novalidate>
        <div class="row">
          <div class="col s12">
            <img
              src="assets/img/logo/logo-home.png"
              srcSet='assets/img/logo/logo-home.png 800w,
                      assets/img/logo/logo-home@2x.png 1600w,
                      assets/img/logo/logo-home@3x.png 3200w'
            >
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h4>
              BEM-VINDO AO EMPRESAS
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p>
              Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Quem num gosta di mim que vai caçá sua turmis! Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio.
            </p>
          </div>
        </div>
        
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">E-mail</label>
            <span class="helper-text" data-error="wrong"></span>
          </div>
        </div>
    
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Senha</label>
            <span class="helper-text" data-error="wrong"></span>
          </div>
        </div>
    
        <div class="row">
          <div class="col s12">
            <a class="waves-effect waves-light btn-large btn-login">Entrar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>